@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background-color: #1f1f2f;
  color: aliceblue;
  font-family: "Nunito", serif;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-bg {
  background-color: #4B495F;
  padding: 5px 10px;
  border-radius: 5px;
}